.user-details {
    margin: 100px 0px 0px 283px;
    padding: 60px;
    font-family: 'Work Sans';
    color: #545F7D;

    a {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #545F7D;

        svg {
            margin-right: 15px;
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 32px 0px 40px;

        h1 {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #213F7D;
        }

        .status {
            display: flex;
            align-items: center;

            button {
                width: 170px;
                height: 40px;
                border-radius: 8px;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                transform: 0.5s;

                &:first-child {
                    margin-right: 20px;
                }
            }

            .blacklisted {
                border: 1px solid #E4033B;
                color: #E4033B;
            }

            .active {
                border: 1px solid #39CDCC;
                color: #39CDCC;
            }

            .inactive {
                border: 1px solid #545F7D;
                color: #545F7D;
            }
        }
    }

    .summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFFFFF;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        padding: 30px 30px 0px 30px;
        height: 210px;
        margin-bottom: 30px;

        .top {
            display: flex;
            align-items: center;

            .profile {
                display: flex;
                align-items: center;
                padding-right: 30px;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .name {
                    p {
                        margin: 0;

                        &:first-child {
                            font-weight: 500;
                            font-size: 22px;
                            line-height: 26px;
                            color: #213F7D;
                            margin-bottom: 8px;
                        }

                        &:last-child {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }

            .tier-container {
                display: flex;

                .tier {
                    padding: 0px 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-left: 1px solid #545f7d33;
                    border-right: 1px solid #545f7d33;

                    p {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                    }

                    svg {
                        margin-right: 4px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                .bank {
                    padding-left: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        margin: 0;

                        &:first-child {
                            font-weight: 500;
                            font-size: 22px;
                            line-height: 26px;
                            color: #213F7D;
                            margin-bottom: 12px;
                        }

                        &:last-child {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 14px;
                            color: #213F7D;
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;

            button {
                flex-grow: 1;
                padding-bottom: 10px;
                font-family: 'SF Compact Text';
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: rgba(0, 0, 0, 0.8);
            }

            .active {
                color: #39CDCC;
                border-bottom: 2px solid #39CDCC;
            }
        }
    }

    .info-section {
        background-color: #FFFFFF;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        padding: 30px;

        .info-container {
            border-bottom: 1px solid #213f7d1a;
            padding: 30px 0px;

            &:first-child {
                padding-top: 0px;
            }

            &:last-child {
                border-bottom: none;
            }

            h2 {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #213F7D;
                margin: 0;
            }

            .info {
                display: flex;
                flex-wrap: wrap;

                div {
                    margin: 30px 50px 0px 0px;

                    p {
                        margin: 0;

                        &:first-child {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 14px;
                            margin-bottom: 8px;
                        }

                        &:last-child {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .user-details {
        margin: 60px 0px 0px;
        padding: 20px;

        .header {
            flex-direction: column;
            align-items: flex-start;
            margin: 20px 0px;

            h1 {
                font-size: 20px;
                line-height: 24px;
            }

            .status {
                margin-top: 20px;

                button {
                    width: auto;
                }
            }
        }

        .summary {
            padding: 20px 20px 0px 20px;
            height: auto;

            .top {
                flex-direction: column;
                align-items: flex-start;

                .profile {
                    padding-right: 0;

                    img {
                        width: 70px;
                        height: 70px;
                    }

                    .name {
                        p {
                            &:first-child {
                                font-size: 20px;
                                line-height: 24px;
                                margin-bottom: 4px;
                            }

                            &:last-child {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                }

                .tier-container {
                    margin: 20px 0px;

                    .tier {
                        border-left: none;
                        padding-left: 0;
                    }

                    .bank {
                        p {
                            &:first-child {
                                font-size: 20px;
                                line-height: 24px;
                                margin-bottom: 8px;
                            }

                            &:last-child {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }

            .bottom {
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }

                button {
                    flex-grow: 0;
                    min-width: 150px;
                    padding: 10px;
                }
            }
        }

        .info-section {
            padding: 20px;

            .info-container {

                .info {

                    div {
                        margin: 30px 30px 0px 0px;

                        p {
                            margin: 0;

                            &:first-child {
                                margin-bottom: 6px;
                            }

                            &:last-child {
                                font-size: 14px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}